@model Nsk.OnlineStore.Web.Site.Models.Catalog.ProductsByCategoryViewModel

@{
    ViewBag.Title = string.Format("{0} - NSK", Model.CategoryName);
}
<div class="row">
    <h2>@Model.CategoryName</h2>
    <ul class="list-inline list-unstyled">
        @foreach (var product in Model.Products)
        {
            <li itemscope itemtype="http://schema.org/Product" class="col-md-3" style="padding-bottom: 10px">
                <a itemprop="url" href="@UrlBuilder.BuildProductPageUrl(product.Id, product.Name)">
                    <img src="@UrlBuilder.BuildProductThumbnailUrl(product.Id)" style="border: 0" alt="@string.Format("{0}", product.Name)" /><br />
                    <span itemprop="name" style="font-weight: bold;">@product.Name</span>
                </a><br />
                by <a itemprop="url" href="@UrlBuilder.BuildProductsBySupplierPageUrl(product.SupplierId, product.SupplierName)"><span itemprop="seller">@product.SupplierName</span></a><br />
                <span itemprop="price">@product.UnitPrice.ToString("0.00")</span>
            </li>
        }
    </ul>
</div>
