@model IEnumerable<Nsk.Web.Site.Models.Shared.Product>
@foreach (var product in Model)
{
    <li itemscope itemtype="http://schema.org/Product" class="col-md-3">
        <a itemprop="url" href="@UrlBuilder.BuildProductPageUrl(product.Id, product.Name)">
            <img src="@UrlBuilder.BuildProductThumbnailUrl(product.Id)" style="border: 0" alt="@string.Format("{0}", product.Name)" /><br />
            <span itemprop="name" style="font-weight: bold;">@product.Name</span>
        </a><br />
        by <a itemprop="url" href="@UrlBuilder.BuildProductsBySupplierPageUrl(product.SupplierId, product.SupplierName)"><span itemprop="seller">@product.SupplierName</span></a><br />
        <span itemprop="price">@product.UnitPrice.Value.ToString("0.00")</span>
    </li>
}
